# Ignore intellij project files
*.iml
.idea
.project
.classpath
.settings/
.attach_pid*

# Ignore target directies
target

# Ignore test xml ecrf
hmf-common/src/test/resources/ecrf/example/ecrf.xml

# Ignore log file in patient db
patient-db/patient-db-logs/*.log
.DS_Store
/patient-db/nb-configuration.xml

# Ignore log file in bachelor
bachelor/bachelor.log