<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] %msg%n"/>
        </Console>
        <File name="File" fileName="variant_annotator.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="Debug">
            <AppenderRef ref="Console" level="Info"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>