<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="Warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] %msg%n"/>
        </Console>
        <File name="File" fileName="bachelor.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="Info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>

