<<include etc/colors_fonts_patterns.conf>>

show_ticks          = no
show_tick_labels    = no

<ideogram>
    <spacing>
        default = SUBSTITUTE_IDEOGRAM_SPACING
    </spacing>

    # Ideogram position, fill and outline
    radius           = 0.9r
    thickness        = 50p
    fill             = yes
    stroke_color     = dgrey
    stroke_thickness = 2p

    show_label       = no
    label_font       = default
    label_radius     = (dims(ideogram,radius_inner)+dims(ideogram,radius_outer))/2-15
    label_size       = 30
    label_parallel   = yes
    label_case       = upper
    label_format     = eval( var(chr) =~ /hs([6]|[9])$/ ? var(label) . ".": var(label) )

</ideogram>


<image>
 <<include etc/image.conf>>
</image>

karyotype = SUBSTITUTE_SAMPLE.karyotype.circos

chromosomes_units           = 1
chromosomes_display_default = yes

# Default is to clip the data to proximity min/max.
<plots>

	# -----------------------------------------------------------
	# CopyNumber Gain (Green)
	<plot>
		type = histogram
		r0   = 0.71r
		r1   = 0.95r
		min  = 0
		max  = SUBSTITUTE_CNA_GAIN_MAX
		glyph = circle
		glyph_size = 8
		color = green
		fill_color = green

		<axes>
			<axis>
				color     = vlgreen
				thickness = 1
				position  = SUBSTITUTE_CNA_GAIN_AXIS_POSITION
			</axis>
		</axes>

		<backgrounds>
			<background>
				color = vvlgreen_a5
			</background>
		</backgrounds>

	</plot>


	# -----------------------------------------------------------
	# CopyNumber Loss (Red)
	<plot>
		type = histogram
		r0   = 0.47r
		r1   = 0.71r
		min  = -2
		max  = 0
		color = red
		glyph = circle
		glyph_size = 8
		fill_color = red

		<axes>
			<axis>
				color     = vlred
				thickness = 1
				spacing   = 0.5r
			</axis>
		</axes>

		<backgrounds>
			<background>
				color = vvlred_a5
			</background>
		</backgrounds>

	</plot>


	# -----------------------------------------------------------
	# Minor Allele Gain (Green)
	<plot>
		type = histogram
		r0   = 0.415r
		r1   = 0.295r
		min  = 0
		max  = SUBSTITUTE_MAP_GAIN_MAX
		glyph = circle
		glyph_size = 8
		color = blue
		fill_color = blue

		<axes>
			<axis>
				color     = vlblue
				thickness = 1
				spacing   = SUBSTITUTE_MAP_GAIN_SPACINGr
			</axis>
		</axes>

		<backgrounds>
			<background>
				color = vvlblue_a5
			</background>
		</backgrounds>

		<rules>
			<rule>
				condition = var(value) < 0.001
				#show = no
			</rule>
		</rules>

	</plot>


	# -----------------------------------------------------------
	# Minor Allele Loss (Red)
	<plot>
		type = histogram
		r0   = 0.175r
		r1   = 0.295r
		min  = -1
		max  = 0
		glyph = circle
		glyph_size = 8
		color = orange
		fill_color = orange

		<axes>
			<axis>
				color     = vlorange
				thickness = 1
				spacing   = 1r
			</axis>
		</axes>

		<backgrounds>
			<background>
				color = vvlorange_a5
			</background>
		</backgrounds>

		<rules>
			<rule>
				condition = var(value) > 0.001
				#show = no
			</rule>
		</rules>
	</plot>


	# -----------------------------------------------------------
	# Connectors
    <plot>

        type = connector
        file = SUBSTITUTE_SAMPLE.connector.circos

        r0	=	SUBSTITUTE_MAP_INNER_RADIUSr
        connector_dims = 0.0,0.3,0.4,0.3,0

        thickness = 4
        color     = red

        <rules>
            <rule>
                condition = true
                r1 = 0.95r
                color=rgb(106,61,154,0.7)
                thickness = 6
            </rule>
        </rules>

    </plot>

</plots>

<links>
    <link>
        file          = SUBSTITUTE_SAMPLE.link.circos
        color         = red
        radius        = 0.175r
        thickness     = 2


        <rules>
            <rule>
                condition = true
                color=rgb(106,61,154,0.7)
                thickness = 6
            </rule>
        </rules>

    </link>
</links>

<<include etc/housekeeping.conf>>

<colors>
    chr1 = 128,125,186
    chr2 = 145,142,179
    chr3 = 161,159,173
    chr4 = 179,176,166
    chr5 = 196,193,160
    chr6 = 213,210,153

    chr7 = 230,228,147
    chr8 = 202,218,138
    chr9 = 175,209,129
    chr10 = 147,199,120
    chr11 = 120,190,111
    chr12 = 92,180,102

    chr13 = 65,171,93
    chr14 = 65,166,110
    chr15 = 65,162,128
    chr16 = 65,158,145
    chr17 = 65,154,163
    chr18 = 65,150,180

    chr19 = 66,146,198
    chr20 = 76,142,196
    chr21 = 86,139,194
    chr22 = 97,135,192
    chrX = 107,132,190
    chrY = 117,128,188
</colors>