<<include etc/colors_fonts_patterns.conf>>

show_ticks          = no
show_tick_labels    = no

<ideogram>
    <spacing>
        default = SUBSTITUTE_IDEOGRAM_SPACING
    </spacing>

    # Ideogram position, fill and outline
    radius           = 0.9r
    thickness        = 50p
    fill             = yes
    stroke_color     = dgrey
    stroke_thickness = 2p

    show_label       = yes
    label_font       = default
    label_radius     = (dims(ideogram,radius_inner)+dims(ideogram,radius_outer))/2-15
    label_size       = 30
    label_parallel   = yes
    label_case       = upper
    label_format     = eval( var(chr) =~ /hs([6]|[9])$/ ? var(label) . ".": var(label) )

</ideogram>

<highlights>
    z = 0

	<highlight>
		file       = SUBSTITUTE_SAMPLE.fragile.circos
		r0         = SUBSTITUTE_CNA_INNER_RADIUSr
		r1         = SUBSTITUTE_CNA_MIDDLE_RADIUSr
		fill_color = black_a5
	</highlight>

	<highlight>
		file       = SUBSTITUTE_SAMPLE.line_element.circos
		r0         = SUBSTITUTE_CNA_MIDDLE_RADIUSr
		r1         = SUBSTITUTE_CNA_OUTER_RADIUSr
		fill_color = black_a5
	</highlight>

	<highlight>
		file       = SUBSTITUTE_SAMPLE.exon.circos
		r0         = SUBSTITUTE_EXON_INNER_RADIUSr
		r1         = SUBSTITUTE_EXON_OUTER_RADIUSr
	</highlight>

    <highlight>
        file       = SUBSTITUTE_SAMPLE.gene.circos
        r0         = SUBSTITUTE_GENE_INNER_RADIUSr
        r1         = SUBSTITUTE_GENE_OUTER_RADIUSr
    </highlight>

    <highlight>
        z          = 1
        file       = SUBSTITUTE_SAMPLE.protein_domain.circos
        r0         = SUBSTITUTE_GENE_INNER_RADIUSr
        r1         = SUBSTITUTE_GENE_OUTER_RADIUSr
        stroke_thickness = 0

        <rules>
            <rule>
                condition = true
                color = white
                fill_color = white
            </rule>
        </rules>
    </highlight>


    <highlight>
        z          = 2
        file       = SUBSTITUTE_SAMPLE.protein_domain.circos
        r0         = SUBSTITUTE_GENE_INNER_RADIUSr
        r1         = SUBSTITUTE_GENE_OUTER_RADIUSr
        color      = black
        stroke_thickness = 1
    </highlight>

    <highlight>
		file = SUBSTITUTE_SAMPLE.segment.circos
        <rules>
            <rule>
                condition = var(value) == 0
                show = no
            </rule>
        </rules>
    </highlight>



</highlights>

<image>
 <<include etc/image.conf>>
</image>

karyotype = SUBSTITUTE_SAMPLE.karyotype.circos

chromosomes_units           = 1
chromosomes_display_default = yes

# Default is to clip the data to proximity min/max.
<plots>

	# -----------------------------------------------------------
	# Exon Rank
	<plot>
		type             = text
		color            = black
		file             = SUBSTITUTE_SAMPLE.exon.rank.circos

		r0 = SUBSTITUTE_EXON_RANK_INNER_RADIUSr
		r1 = 1r

		show_links   = no
		label_size   = 24p
		label_font   = mono
		label_snuggle= yes

		padding  = 0p
		rpadding = 5p
	</plot>

	# -----------------------------------------------------------
	# GENES Text
	<plot>
		type             = text
		color            = black
		file             = SUBSTITUTE_SAMPLE.gene.name.circos

		r0 = SUBSTITUTE_EXON_INNER_RADIUSr
		r1 = 1r

		show_links   = no
		label_size   = 10p
		label_font   = mono
		label_snuggle= yes

		padding  = -20p
		rpadding = 0p
	</plot>




	# -----------------------------------------------------------
	# Background
	<plot>
		r0   = SUBSTITUTE_SV_INNER_RADIUSr
		r1   = SUBSTITUTE_SV_OUTER_RADIUSr

		<backgrounds>
			<background>
				color = vlpurple_a5
			</background>
		</backgrounds>

		<axes>
			<axis>
				color     = lpurple
				thickness = 1
				spacing   = SUBSTITUTE_SV_SPACINGr
			</axis>
		</axes>

	</plot>


	# -----------------------------------------------------------
	# CopyNumber Gain (Green)
	<plot>
		type = histogram
		file = SUBSTITUTE_SAMPLE.cna.circos
		r0   = SUBSTITUTE_CNA_MIDDLE_RADIUSr
		r1   = SUBSTITUTE_CNA_OUTER_RADIUSr
		min  = 0
		max  = SUBSTITUTE_CNA_GAIN_MAX
		glyph = circle
		glyph_size = 8
		color = copy_gain
		fill_color = copy_gain

		<axes>
			<axis>
				color     = copy_gain_l
				thickness = 1
				position  = SUBSTITUTE_CNA_GAIN_AXIS_POSITION
			</axis>
		</axes>

		<backgrounds>
			<background>
				color = copy_gain_vl
			</background>
		</backgrounds>

	</plot>


	# -----------------------------------------------------------
	# CopyNumber Loss (Red)
	<plot>
		type = histogram
		file = SUBSTITUTE_SAMPLE.cna.circos
		r0   = SUBSTITUTE_CNA_INNER_RADIUSr
		r1   = SUBSTITUTE_CNA_MIDDLE_RADIUSr
		min  = -2
		max  = 0
		glyph = circle
		glyph_size = 8
		color = copy_loss
		fill_color = copy_loss

		<axes>
			<axis>
				color     = copy_loss_l
				thickness = 1
				spacing   = 0.5r
			</axis>
		</axes>

		<backgrounds>
			<background>
				color = copy_loss_vl
			</background>
		</backgrounds>

	</plot>


	# -----------------------------------------------------------
	# Minor Allele Gain (Green)
	<plot>
		type = histogram
		file = SUBSTITUTE_SAMPLE.map.circos
		r0   = SUBSTITUTE_MAP_MIDDLE_RADIUSr
		r1   = SUBSTITUTE_MAP_OUTER_RADIUSr
		min  = 0
		max  = SUBSTITUTE_MAP_GAIN_MAX
		glyph = circle
		glyph_size = 8
		color = blue
		fill_color = blue

		<axes>
			<axis>
				color     = lblue
				thickness = 1
				spacing   = SUBSTITUTE_MAP_GAIN_SPACINGr
			</axis>
		</axes>

		<backgrounds>
			<background>
				color = vlblue_a5
			</background>
		</backgrounds>

		<rules>
			<rule>
				condition = var(value) < 0.001
				#show = no
			</rule>
		</rules>

	</plot>


	# -----------------------------------------------------------
	# Minor Allele Loss (Red)
	<plot>
		type = histogram
		file = SUBSTITUTE_SAMPLE.map.circos
		r0   = SUBSTITUTE_MAP_INNER_RADIUSr
		r1   = SUBSTITUTE_MAP_MIDDLE_RADIUSr
		min  = -1
		max  = 0
		glyph = circle
		glyph_size = 8
		color = orange
		fill_color = orange

		<axes>
			<axis>
				color     = lorange
				thickness = 1
				spacing   = 1r
			</axis>
		</axes>

		<backgrounds>
			<background>
				color = vlorange_a5
			</background>
		</backgrounds>

		<rules>
			<rule>
				condition = var(value) > 0.001
				#show = no
			</rule>
		</rules>
	</plot>

	# -----------------------------------------------------------
	# Distances Text
	<plot>
		type             = text
		color            = black
		file             = SUBSTITUTE_SAMPLE.distance.circos

		r0   = SUBSTITUTE_CNA_MIDDLE_RADIUSr
		r1   = 1r

		show_links     = no

		label_size   = 30p
		label_font   = condensed
		label_snuggle=yes

		padding  = 0p
		rpadding = 15p
	</plot>

	# -----------------------------------------------------------
	# Locations Text
	<plot>
		type             = text
		color            = black
		file             = SUBSTITUTE_SAMPLE.text.circos

		r0   = 1.01r
		r1   = 1.11r

		show_links     = no
		link_dims      = 4p,4p,260p,20p,0p
		link_thickness = 2p
		link_color     = black

		label_size   = 20p
		label_font   = condensed
		label_snuggle=yes

		padding  = 0p
		rpadding = 0p
	</plot>

	# -----------------------------------------------------------
	# Scatter
	<plot>
		type             = scatter
		file             = SUBSTITUTE_SAMPLE.scatter.circos

		r0   = SUBSTITUTE_SV_INNER_RADIUSr
		r1   = SUBSTITUTE_SV_OUTER_RADIUSr

        glyph            = circle
        glyph_size       = 20
        color            = red
        stroke_color     = dred
        stroke_thickness = 0
        orientation      = out

        min  = 0
        max = SUBSTITUTE_SV_MAX

	</plot>

	# -----------------------------------------------------------
	# Connectors
    <plot>

        type = connector
        file = SUBSTITUTE_SAMPLE.connector.circos

        r0	=	SUBSTITUTE_MAP_INNER_RADIUSr
        connector_dims = 0.0,0.3,0.4,0.3,0

        thickness = 4
        color     = red
    </plot>

</plots>

<links>
    <link>
        file          = SUBSTITUTE_SAMPLE.link.circos
        color         = red
        radius        = 0.175r
        thickness     = 2
    </link>
</links>

<<include etc/housekeeping.conf>>

<colors>

    copy_loss = 197,27,125
    copy_loss_l = 239,141,198
    copy_loss_vl = 254,245,250

    copy_gain = 77,146,33
    copy_gain_l = 178,230,145
    copy_gain_vl = 245,252,241

    chr1 = 128,125,186
    chr2 = 145,142,179
    chr3 = 161,159,173
    chr4 = 179,176,166
    chr5 = 196,193,160
    chr6 = 213,210,153

    chr7 = 230,228,147
    chr8 = 202,218,138
    chr9 = 175,209,129
    chr10 = 147,199,120
    chr11 = 120,190,111
    chr12 = 92,180,102

    chr13 = 65,171,93
    chr14 = 65,166,110
    chr15 = 65,162,128
    chr16 = 65,158,145
    chr17 = 65,154,163
    chr18 = 65,150,180

    chr19 = 66,146,198
    chr20 = 76,142,196
    chr21 = 86,139,194
    chr22 = 97,135,192
    chrX = 107,132,190
    chrY = 117,128,188
</colors>