<<include etc/colors_fonts_patterns.conf>>

show_ticks          = no
show_tick_labels    = no

<ideogram>
    <spacing>
        default = SUBSTITUTE_IDEOGRAM_SPACING
    </spacing>

    # Ideogram position, fill and outline
    radius           = 0.9r
    thickness        = 50p
    fill             = yes
    stroke_color     = dgrey
    stroke_thickness = 2p

    show_label       = yes
    label_font       = default
    label_radius     = (dims(ideogram,radius_inner)+dims(ideogram,radius_outer))/2-15
    label_size       = 30
    label_parallel   = yes

</ideogram>

<highlights>

	<highlight>
		file       = SUBSTITUTE_SAMPLE.fragile.circos
		r0         = SUBSTITUTE_CNA_INNER_RADIUSr
		r1         = SUBSTITUTE_CNA_MIDDLE_RADIUSr
		fill_color = black_a5
		z = 20
	</highlight>

	<highlight>
		file       = SUBSTITUTE_SAMPLE.line_element.circos
		r0         = SUBSTITUTE_CNA_MIDDLE_RADIUSr
		r1         = SUBSTITUTE_CNA_OUTER_RADIUSr
		fill_color = black_a5
		z = 20
	</highlight>

	<highlight>
		file       = SUBSTITUTE_SAMPLE.exon.circos
		r0         = SUBSTITUTE_EXON_INNER_RADIUSr
		r1         = SUBSTITUTE_EXON_OUTER_RADIUSr
		fill_color = blue
		z = 20
	</highlight>

    <highlight>
        file       = SUBSTITUTE_SAMPLE.gene.circos
        r0         = SUBSTITUTE_GENE_INNER_RADIUSr
        r1         = SUBSTITUTE_GENE_OUTER_RADIUSr
        fill_color = blue
        z = 20
    </highlight>

    <highlight>
        file       = SUBSTITUTE_SAMPLE.protein_domain.circos
        r0         = SUBSTITUTE_GENE_INNER_RADIUSr
        r1         = SUBSTITUTE_GENE_OUTER_RADIUSr
        fill_color = red
        z = 21
    </highlight>

    <highlight>
		file = SUBSTITUTE_SAMPLE.segment.circos
        <rules>
            <rule>
                condition = var(value) == 0
                show = no
            </rule>
        </rules>
    </highlight>



</highlights>

<image>
 <<include etc/image.conf>>
</image>

karyotype = SUBSTITUTE_SAMPLE.karyotype.circos

chromosomes_units           = 1
chromosomes_display_default = yes

# Default is to clip the data to proximity min/max.
<plots>

	# -----------------------------------------------------------
	# Exon Rank
	<plot>
		type             = text
		color            = black
		file             = SUBSTITUTE_SAMPLE.exon.rank.circos

		r0 = SUBSTITUTE_EXON_RANK_INNER_RADIUSr
		r1 = 1r

		show_links   = no
		label_size   = 24p
		label_font   = mono
		label_snuggle= yes

		padding  = 0p
		rpadding = 5p
	</plot>

	# -----------------------------------------------------------
	# GENES Text
	<plot>
		type             = text
		color            = black
		file             = SUBSTITUTE_SAMPLE.gene.name.circos

		r0 = SUBSTITUTE_EXON_INNER_RADIUSr
		r1 = 1r

		show_links   = no
		label_size   = 10p
		label_font   = mono
		label_snuggle= yes

		padding  = -20p
		rpadding = 0p
	</plot>




	# -----------------------------------------------------------
	# Background
	<plot>
		r0   = SUBSTITUTE_SV_INNER_RADIUSr
		r1   = SUBSTITUTE_SV_OUTER_RADIUSr

		<backgrounds>
			<background>
				color = vlpurple_a5
			</background>
		</backgrounds>

		<axes>
			<axis>
				color     = lpurple
				thickness = 1
				spacing   = SUBSTITUTE_SV_SPACINGr
			</axis>
		</axes>

	</plot>


	# -----------------------------------------------------------
	# CopyNumber Gain (Green)
	<plot>
		type = histogram
		file = SUBSTITUTE_SAMPLE.cna.circos
		r0   = SUBSTITUTE_CNA_MIDDLE_RADIUSr
		r1   = SUBSTITUTE_CNA_OUTER_RADIUSr
		min  = 0
		max  = SUBSTITUTE_CNA_GAIN_MAX
		glyph = circle
		glyph_size = 8
		color = green
		fill_color = green

		<axes>
			<axis>
				color     = lgreen
				thickness = 1
				spacing   = SUBSTITUTE_CNA_GAIN_SPACINGr
			</axis>
		</axes>

		<backgrounds>
			<background>
				color = vlgreen_a5
			</background>
		</backgrounds>

	</plot>


	# -----------------------------------------------------------
	# CopyNumber Loss (Red)
	<plot>
		type = histogram
		file = SUBSTITUTE_SAMPLE.cna.circos
		r0   = SUBSTITUTE_CNA_INNER_RADIUSr
		r1   = SUBSTITUTE_CNA_MIDDLE_RADIUSr
		min  = -2
		max  = 0
		color = red
		glyph = circle
		glyph_size = 8
		fill_color = red

		<axes>
			<axis>
				color     = lred
				thickness = 1
				spacing   = 0.5r
			</axis>
		</axes>

		<backgrounds>
			<background>
				color = vlred_a5
			</background>
		</backgrounds>

	</plot>


	# -----------------------------------------------------------
	# Minor Allele Gain (Green)
	<plot>
		type = histogram
		file = SUBSTITUTE_SAMPLE.map.circos
		r0   = SUBSTITUTE_MAP_MIDDLE_RADIUSr
		r1   = SUBSTITUTE_MAP_OUTER_RADIUSr
		min  = 0
		max  = SUBSTITUTE_MAP_GAIN_MAX
		glyph = circle
		glyph_size = 8
		color = blue
		fill_color = blue

		<axes>
			<axis>
				color     = lblue
				thickness = 1
				spacing   = SUBSTITUTE_MAP_GAIN_SPACINGr
			</axis>
		</axes>

		<backgrounds>
			<background>
				color = vlblue_a5
			</background>
		</backgrounds>

		<rules>
			<rule>
				condition = var(value) < 0.001
				#show = no
			</rule>
		</rules>

	</plot>


	# -----------------------------------------------------------
	# Minor Allele Loss (Red)
	<plot>
		type = histogram
		file = SUBSTITUTE_SAMPLE.map.circos
		r0   = SUBSTITUTE_MAP_INNER_RADIUSr
		r1   = SUBSTITUTE_MAP_MIDDLE_RADIUSr
		min  = -1
		max  = 0
		glyph = circle
		glyph_size = 8
		color = orange
		fill_color = orange

		<axes>
			<axis>
				color     = lorange
				thickness = 1
				spacing   = 1r
			</axis>
		</axes>

		<backgrounds>
			<background>
				color = vlorange_a5
			</background>
		</backgrounds>

		<rules>
			<rule>
				condition = var(value) > 0.001
				#show = no
			</rule>
		</rules>
	</plot>

	# -----------------------------------------------------------
	# Distances Text
	<plot>
		type             = text
		color            = black
		file             = SUBSTITUTE_SAMPLE.distance.circos

		r0   = SUBSTITUTE_CNA_MIDDLE_RADIUSr
		r1   = 1r

		show_links     = no

		label_size   = 30p
		label_font   = condensed
		label_snuggle=yes

		padding  = 0p
		rpadding = 15p
	</plot>

	# -----------------------------------------------------------
	# Locations Text
	<plot>
		type             = text
		color            = black
		file             = SUBSTITUTE_SAMPLE.text.circos

		r0   = 1.01r
		r1   = 1.11r

		show_links     = no
		link_dims      = 4p,4p,260p,20p,0p
		link_thickness = 2p
		link_color     = black

		label_size   = 20p
		label_font   = condensed
		label_snuggle=yes

		padding  = 0p
		rpadding = 0p
	</plot>

	# -----------------------------------------------------------
	# Scatter
	<plot>
		type             = scatter
		file             = SUBSTITUTE_SAMPLE.scatter.circos

		r0   = SUBSTITUTE_SV_INNER_RADIUSr
		r1   = SUBSTITUTE_SV_OUTER_RADIUSr

        glyph            = circle
        glyph_size       = 20
        color            = red
        stroke_color     = dred
        stroke_thickness = 0
        orientation      = out

        min  = 0
        max = SUBSTITUTE_SV_MAX

	</plot>

	# -----------------------------------------------------------
	# Connectors
    <plot>

        type = connector
        file = SUBSTITUTE_SAMPLE.connector.circos

        r0	=	SUBSTITUTE_MAP_INNER_RADIUSr
        connector_dims = 0.0,0.3,0.4,0.3,0

        thickness = 4
        color     = red
    </plot>

</plots>

<links>
    <link>
        file          = SUBSTITUTE_SAMPLE.link.circos
        color         = red
        radius        = 0.175r
        thickness     = 2
    </link>
</links>

<<include etc/housekeeping.conf>>